div {
  &.card {
    width: 250px;
    height: 275px;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensures image fits within radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s ease; /* Smooth hover effect */
    font-family: sans-serif;
    background: #fff;
    &:hover {
      transform: translateY(-5px); /* Moves card up on hover */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  &.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d; /* Allows children to be in 3D space */
  }
}

img {
  max-width: 150px;
}

/* Trigger the flip on hover */
.show-backside .card-content {
  transform: rotateY(180deg);
}

/* 3. Common styles for both faces */
.card-front,
.card-back {
  box-sizing: border-box;
  padding: 15px; /* Internal spacing */
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the side facing away from the user */
  border-radius: 10px;
}

.card-back {
  transform: rotateY(180deg); /* Starts flipped away from the user */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
