html,
body {
  height: 100%;
  margin: 0;
}

div {
  &.main-app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

main {
  &.router-outlet-content-wrapper {
    margin: 0 8px;
    flex: 1;
  }
}
